body {
    background: no-repeat url(Three_Sisters.jpg);
}

.streak {
    position: absolute;
    top: 0px;
    left: 0px;
    max-height: 24px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 6px;
}

.streak span:before {
    content: 'Streak: '
}

.score {
    position: absolute;
    top: 0px;
    left: 360px;
    max-height: 24px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 6px;
}

.score span:before {
    content: 'Score: '
}

.round {
    position: absolute;
    top: 0px;
    left: 760px;
    max-height: 24px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 6px;
}

.round span:before {
    content: 'Round: '
}

.message_container {
    position: absolute;
    display: table;
    top: 0px;
    left: 0px;
    width: 825px;
    height: 500px;
    z-index: 10;
}

.message_container > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.game_over {
    display: inline-block;
    padding: 8px;
    line-height: 64px;
    font-size: 58px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
    cursor: default;
}

.message {
    display: inline-block;
    padding: 8px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
    cursor: default;
    text-align: left;
    min-width: 160px;
    max-width: 384px;
}

.round_score {
    min-width: 64px;
    float: right;
    text-align: right;
}
