body {
    padding: 0;
    margin: 0;
}

.container {
    background: no-repeat url(Three_Sisters.jpg);
    width: 825px;
    height: 500px;
    padding: 0;
    margin: 0;
}

.hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 825px;
    text-align: center;
}

.streak {
    float: left;
    max-height: 24px;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 6px;
}

.streak span:before {
    content: 'Streak: '
}

.score {
    display: inline-block;
    max-height: 24px;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 6px;
}

.score span:before {
    content: 'Score: '
}

.round {
    float: right;
    max-height: 24px;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 6px;
}

.round span:before {
    content: 'Round: '
}

.game_over {
    position: absolute;
    padding: 8px;
    line-height: 64px;
    font-size: 58px;
    border: 1px solid black;
    border-radius: 6px;
    z-index: 10;
    background-color: white;
    cursor: default;
}
